.idea
.vscode/ipch
scalaClient/.idea
scalaClient/target
src/cmake-build-debug
src/CMakeFiles
src/src
src/tmp
src/*.pb.h
src/cmake_install.cmake
src/*pb.cc
src/reqstore
CMakeFiles
scalaClient/project/target
scalaClient/project/project/target
.DS_Store
src/Makefile
src/default
src/CMakeCache.txt
src/reqstore.log
src/spdlog
src/rocksdb-cloud.log
src/proto
